{% extends 'layouts/base.html' %}

{% block body %}

<div class="container">
    {% if form.instance.pk %}
    {% include 'forms/form.html' with action="Editar" %}
    <table class="table table-sm table-bordered">
        {% for entry in form.instance.entries.all %}
        <tbody>
            <tr>
                <td>{{ entry.product }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.price }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% else %}
    {% include 'forms/form.html' with action="Crear" %}
    {% endif %}
</div>

{% endblock %}
