
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="container">
<a class="navbar-brand" href="/">Tesla</a>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Inicio</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url 'invoices_landing' %}">Facturas</a></li>
    {% endif %}
  </ul>
  <div class="">
    {% if user.is_anonymous %}
    <a href="{% url 'login' %}" class="btn btn-primary">Ingresar</a>
    <a href="{% url 'user_registration' %}" class="btn btn-primary">Registrarse</a>
    {% else %}
    <a href="{% url 'user_settings' %}" class="btn btn-primary">Hola, {{user}}</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
    {% endif %}
  </div>
</div>
</div>
</nav>
